<!-- Team crabs (Arib Chowdhury, Anya Zorin, Karl Hernandez, Saqif Abedin) -->
<!-- SoftDev -->
<!-- P3 -- ArRESTed Development, JuSt in Time  -->
<!-- 2021-04-26 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>
    <form action="/logout">
        <div class="form-group text-right">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </div>
    </form>
    <h2 class="text-center">Leaderboard</h2>
    <div class="card" style="width:50%; margin:auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>idk</td>
                <td>666</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>idk</td>
                <td>645</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>idk</td>
                <td>26</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">4</th>
                <td>idk</td>
                <td>2</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">5</th>
                <td>idk</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
</br></br>
<form acion="/test">
    <div class="form-group text-center">
        <button type="submit" class="btn btn-warning btn-lg">Single Player</button>
    </div>
</form>
</br>
<form acion="/test">
    <div class="form-group text-center">
        <button type="submit" class="btn btn-danger btn-lg">Player v.s. Player</button>
    </div>
</form>
  </body>