<!-- Team Crabs: Karl Hernandez, Arib Chowdhury, Anya Zorin, Saqif Abedin -->
<!-- Softdev -->
<!-- P3: ArRESTed Development, JuSt in Time -->
<!-- 2021-04-23 -->
<!-- Free Background Image From  https://wallup.net/pokemon-16/-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Login</title>
  </head>

  <body class="text-center" style="background: url('static/bg0.png'); background-size: cover; background-position: bottom right; background-repeat: no-repeat; background-color: rgba(127,172,113,255)">
    <section class="container">
    </br></br></br></br></br></br>
      <h3>Login</h3>
      <form action="/loginRead" method="POST">
        <div class="form-group">
          <input type="text" name="username" class="form-control {{ err }}" placeholder="Enter Username" style="width: 30%; margin: auto;"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control {{ err }}" placeholder="Password" style="width: 30%; margin: auto;">
          <div class="invalid-feedback">
              {{errmsg}}
          </div>
        </div>  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a type="button" class="btn btn-link" href="/register">Register New User</a>
    </br></br></br></br></br></br></br></br></br></br>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>


