<!-- Team Crabs: Karl Hernandez, Arib Chowdhury, Anya Zorin, Saqif Abedin -->
<!-- Softdev -->
<!-- P3: ArRESTed Development, JuSt in Time -->
<!-- 2021-04-23 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <section class="container">
      <h3>Login</h3>
      <form action="/loginRead" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" />
        <label for="password">Password: </label>
        <input type="password" name="password" />
        <button type="submit">Submit</button>
      </form>
      <h1>Register a new user</h1>
      <button type="button">
        <a href="/register">Register</a>
      </button>
    </section>
  </body>
</html>
