<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- P0 -- Da Art of Storytellin' (Pt. 2) / build a blog hosting website -->
<!-- 2021-01-08 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>

  <body>
    <section>
      <form action="/registerRead" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" />
        <label for="password">Password: </label>
        <input type="password" name="password" />
        <button type="submit">Submit</button>
      </form>
      <button><a href="/">Login</a></button>
    </section>
  </body>
</html>
