<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- P0 -- Da Art of Storytellin' (Pt. 2) / build a blog hosting website -->
<!-- 2021-01-08 -->

<!-- Login template referenced from  https://bootsnipp.com/snippets/rl98z-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Register</title>
  </head>
  <body class="text-center">
    <section class="container">
    </br></br></br></br></br></br>
      <h3>Register</h3>
      <form action="/registerRead" method="POST">
        <div class="form-group">
          <input type="text" name="username" class="form-control" placeholder="Enter Username" style="width: 30%; margin: auto;"/>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password: </label>
          <input type="password" name="password" class="form-control" placeholder="Password" style="width: 30%; margin: auto;" required>
        </div>  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a type="button" class="btn btn-link" href="/">Login</a>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>